<h1>Log-in</h1>
<form id="loginForm">
    <label>E-mail</label>
    <input name="email" type="email" placeholder="E-mail">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
    <button type="submit"> Log-in </button>
</form>

<p>¿Not registered yet? <a href="/register">Register</a></p>

<script src="/js/login.js"></script>