<h1 class="m-5">Log-in</h1>
<form class="m-5 d-flex flex-column" id="loginForm">
    <label class="my-2">E-mail</label>
    <input class="my-1 rounded-3 border border-0" name="email" type="email">
    <label class="my-2">Password</label>
    <input class="my-1 rounded-3 border border-0" type="password" name="password">
    <button class="my-4 rounded-3 border border-0" type="submit"> Log-in </button>
</form>
<p class="m-5">Log with:</p>
<a class="ms-5" href="/api/sessions/github"><button class="rounded-3 border border-0">GITHUB</button></a>

<p class="m-5">¿Not registered yet? <a href="/register">Register</a></p>

<script src="/js/login.js"></script>