<form action="/products" method="POST" class="mb-3 w-50 m-auto">
    <div>
        <label for="name" class="form-label"> NAME</label>
        <input class="form-control" type="text" name="name" placeholder="NAME" required>
    </div>
    <div>
        <label for="price" class="form-label"> PRICE</label>
        <input class="form-control" type="number" name="price" placeholder="PRICE" required>
    </div>
    <div>
        <label for="src" class="form-label"> SRC</label>
        <input class="form-control" type="text" name="src" placeholder="SRC" required>
    </div>
    <button class="btn btn-dark border-light mt-3"> ADD </button>
</form>